* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ==========pokemon card============ */
.pokemon_Card {
  transition: all ease-in-out 1s;
  border-radius: 20% 0 20% 0;
  border: 2px solid #fff;
}

.pokemon_Card:hover {
  background-color: rgb(2, 70, 130);

}

.pokemon_Card .pokemonImage {
  transition: all ease-in-out 1s;
}

.pokemon_Card:hover .pokemonImage {
  transform: scale(1.3);
}

.cetagory_card {
  padding: 30px 40px;
  border-radius: 20% 0 20% 0;
}